#Ignore
*
*.*
**/*
**/*.*
**/**/*
**/**/*.*
#Don't ignore directories, so we can recurse into them
!*/
#!**/*
!.gitignore
Thumbs.db
!*.opi
!*.plt
!*.pdf
!*.zip
!*.txt
!*.def
!*.py

#Ignore the .project-files, otherwise there'll be conflicts in the local CSS
.project
